#nav-mobile {
	margin-right: 3%;
}

#logo {
	font-family: 'Marck Script', cursive;
	margin-left: 3%;
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
}

#eric1 {
	-ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

#eric2 {
	-ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
    margin-left: -8%;
}

#eric3 {
	-ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    margin-left: -3%;
}

#eric1, #eric2, #eric3 {
	width: 35%;
	border: 5px solid white;
}

#photostrip {
	text-align: center;
	padding: 8%;
}

#photostrip p {
	margin-top: 12%;
	font-weight: bold;
	font-size: 40px;
}

#photostrip a {
	margin-top: 3%;
}

#screenshot_hand {
	min-height: 100%;
	min-width: 100%;
	padding: 15% 15% 0 15%;
	margin-bottom: -0.6%;
}

.screenshot {
	width: 30%;
	padding: 8% 3% 0 3%;
}

#phones {
	text-align: center;
}

#about {
	text-align: center;
	margin-top: 4%;
}

#about-text {
	width: 70%;
	margin: auto;
}

h2 {
	font-family: 'Marck Script', cursive;
}

#features, #contact {
	text-align: center;
	padding-top: 3%;
}

#thumbnails {
	text-align: center;
	padding: 3%;
}

.icon {
	color: #ffffff;
	padding: 6%;
}

.feature {
	margin-top: 6%;
	margin-bottom: 6%;
}

#video {
	margin: 8%;
	width: 80%;
}

#instructions {
	line-height: 140%;
}

#easy {
	margin-top: 5%;
	margin-bottom: 5%;
}

#form {
	width: 50%;
}

#social_media {
	margin: auto;
	width: 30%;
}

#links {
	text-align: center;
}

.link {
	width: 24%;
	height: 20%;
}

#question {
	text-align: center;
	margin: 5% 0 5% 0;
}

#submit_button {
	margin: auto;
}


/*form styling */
.input-field label {
     color: #33691e;
}



/* Media Queries */
@media screen and (min-width: 1000px) and (max-width:1300px) {
.screenshot {
	width: 50%;
}

#map {
	display: none;
}

}


@media screen and (min-width:660px) and (max-width:999px) {
.screenshot {
	width: 100%;
}

#social_media {
	width: 50%;
}

.link {
	width: 49%;
}
}


@media screen and (min-width:320px) and (max-width:659px) {
.screenshot {
	width: 40%;
}

.about-text {
	width: 100%;
}

#social_media {
	width: 80%;
}

.link {
	width: 49%;
}

}


@media screen and (max-width:900px) {
#photostrip p {
	font-size: 30px;
}

#eric3 {
	display: none;
}

#eric1, #eric2 {
	width: 50%;
}
}