#logo {
	font-family: 'Marck Script', cursive;
	margin-left: 3%;
}

#eric1 {
	-ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

#eric2 {
	-ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
    margin-left: -8%;
}

#eric3 {
	-ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    margin-left: -3%;
}

#eric1, #eric2, #eric3 {
	width: 35%;
	border: 5px solid white;
}

#photostrip {
	text-align: center;
	padding: 8%;
}

#photostrip p {
	margin-top: 12%;
	font-weight: bold;
	font-size: 40px;
}

#photostrip a {
	margin-top: 3%;
}

#screenshot_hand {
	min-height: 100%;
	min-width: 100%;
	padding: 15% 15% 0 15%;
	margin-bottom: -0.6%;
}

.screenshot {
	width: 30%;
	padding: 8% 3% 0 3%;
}

#phones {
	text-align: center;
}

#about {
	text-align: center;
	margin-top: 4%;
}

#about-text {
	width: 70%;
	margin: auto;
}

h2 {
	font-family: 'Marck Script', cursive;
}

#features {
	text-align: center;
	padding-top: 3%;
}

#thumbnails {
	text-align: center;
	padding: 3%;
}

.icon {
	color: #536f22;
	padding: 4%;
}





/* Media Queries */
@media screen and (min-width: 1000px) and (max-width:1300px) {
.screenshot {
	width: 50%;
}

#map {
	display: none;
}

}


@media screen and (min-width:660px) and (max-width:999px) {
.screenshot {
	width: 100%;
}

}


@media screen and (min-width:320px) and (max-width:659px) {
.screenshot {
	width: 40%;
}

.about-text {
	width: 100%;
}
}


@media screen and (max-width:900px) {
#photostrip p {
	font-size: 30px;
}

#eric3 {
	display: none;
}

#eric1, #eric2 {
	width: 50%;
}
}