#logo {
	font-family: 'Marck Script', cursive;
	margin-left: 3%;
}

#eric1 {
	-ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

#eric2 {
	-ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
    margin-left: -8%;
}

#eric3 {
	-ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    margin-left: -3%;
}

#eric1, #eric2, #eric3 {
	width: 35%;
	border: 5px solid white;
}

#photostrip {
	text-align: center;
	padding: 8%;
}

#photostrip p {
	margin-top: 12%;
	font-weight: bold;
	font-size: 40px;
}

#photostrip a {
	margin-top: 3%;
}

#screenshot_hand {
	min-height: 100%;
	min-width: 100%;
	padding: 15% 15% 0 15%;
}